input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid white;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  color: white;
  text-align: center;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

img {
  height: 1em;
}

.Step {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1em;
}

.Step h3 {
  width: 100%;
}

.Step .DimentionsContainer {
  display: flex;
  width: 100%;
}

.Step .DimentionsContainer label {
  display: flex;
  margin-right: 1.5em;
  align-items: center;
}

.Input p, .Input input {
  width: 2.5em;
  margin: 0;
}

.Step .DimentionsContainer .ButtonContainer {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.25em;
  cursor: pointer;
}

.Step .DimentionsContainer .ButtonContainer p {
  margin: 0;
  padding: 0em 0.5em;
}

.Step .SimpleLine {
  width: 100%;
  margin-top: 2.5em;
  border-bottom: 1px solid white; 
}